@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --red: #f54e4e;
  --green: #4aec8c;
}

* {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  // color: white;
}


body {
  // background-color: #30384b;
  background-color: #263238;

  color: #eee;
  // color: black;
}

main {
  padding-top: 20vh;
  // height: 70vh;

  max-width: 25vw;
  margin: 0 auto;
  text-align: center;

  min-width: 340px;

  border: 2px solid red;
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: 5vw;
  cursor: pointer;
}

button.with-text {
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.4rem;
  line-height: 2.3rem;
}

button.with-text svg {
  width: 2.2rem;
  float: left;
  margin-right: 0.3rem;
}

label {
  display: block;
  margin-bottom: 0.7rem;
  margin-top: 2vh;
  text-transform: capitalize;
}

.control-buttons {
  margin-top: 2vh;
  width: 25vw;

  border: 2px solid red;

  svg {
    font-size: 5vw;
  }
}

.back-button {
  // width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.4rem;
  // line-height: 2.3rem;
  width: 15%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // text-align: center;
  margin-top: 20px;
  cursor: pointer;

  // svg {
  //   font-size: 5vw;
  // }
}

.sliders {
  width: 80%;
  margin: 1vh 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px solid yellow;
}